<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="man" class="com.now.Main">
        <!--<constructor-arg ref="quest"/>-->
    </bean>

    <bean id="woman" class="com.now.Woman">
        <!--<constructor-arg value="#{T(System).out}"/>/-->
    </bean>

    <bean id="humanService" class="com.now.HumanService">
        <property name="human" ref="woman"/>
    </bean>

</beans>